@import "../../Variables.scss";

.answers__product {
 display: flex;
 flex-direction: column-reverse;
 border: 1px solid $grey;
 background-color: #fff;
 box-shadow: 5px 5px 15px 5px $grey;
 border-radius: 15px;
 align-items: center;
 width: 30%;
}

.answers__list {
    display: flex;
    width: 90%;
    margin: 3%;
    margin-top: 10rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}