@import "../../Variables.scss";

.answers__list {
  display: flex;
  width: 90%;
  margin: 3%;
  margin-top: 10rem;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#answersForm {
  height: 45%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  border: 5px solid white;
  background-color: black;
}

.paysForms {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 1.5em;
  padding: 1%;
  justify-content: center;
  align-items: center;

}

.label{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap-reverse;
}

.section_town{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 3%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section_type{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 3%;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.section_client_type{
  display: flex;
  width: 90%;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.genre{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
  width: 45%;
}
.age{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
  width: 45%;
}