@import "../../Variables.scss";

.cartContainer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 $grey;
  border-radius: 1rem;
  border: transparent;
  background-color: #fff;
  padding: 20px;
}

.cartTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.availableProducts {
  margin-bottom: 20px;
}
.cartWithProduct{
    margin-top: 20px;
    margin-bottom: 20px;
  }

.productList {
  list-style-type: none;
  padding: 0;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

  .actionButton {
    background-color: $lightBlue;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blue;
    }
  }
}

.shoppingCart {
  margin-top: 20px;
}

.chosenProduct,
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

  .actionButton {
    background-color: $lightBlue;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blue;
    }
  }
}

.total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
