// variables de la charte graphique L'Oréal
$grey: #344257;
$purple: #3c2d70;
$blue: #043dac;
$lightBlue: black;
$aqua: #35dece;

@mixin buttons {
    background-color: $grey;
    color: white;
    text-align: center;
    padding: 3%;
    border-radius: 50px;
    font-weight: bold;
font-size: large;
    padding-inline: 10%;
    border: 0.5px solid  rgba(0, 0, 0, 0.7) ;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.5s ease; 
   
    &:hover {
      box-shadow: 0 10px 10px $grey;
    }
  }
