@import "../../Variables.scss";

.bubble {
  background: #fff;
  color: $grey;
  padding: 7px 15px;
  border-radius: 3px;
  width: 80%;
}

.bubble:after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
}

.bubble__text {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}
